<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head>
    <title>Sent payments</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div layout:fragment="contents">

    <h2>Submit a payment request for the following expense</h2>
    <table>
        <tr>
            <td><strong>Date</strong></td>
            <td th:id="expense_date" th:text="${expense.date}"> </td>
        </tr>
        <tr>
            <td><strong>Description</strong></td>
            <td th:id="expense_description" th:text="${expense.description}"></td>
        </tr>
        <tr>
            <td><strong>Amount</strong></td>
            <td th:id="expense_amount" th:text="${expense.amount}"></td>
        </tr>
    </table>


    <table th:if="${!#lists.isEmpty(requests)}">
        <h2>Previous Payment Requests for this expense</h2>
        <thead>
        <tr>
            <th>Who</th>
            <th>Due</th>
            <th>Paid?</th>
            <th>How much</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${requests}">
            <!-- Assuming `expense.date`, `expense.description`, `expense.amount`, etc. are available -->
            <td th:id="'paymentrequest_who_'+${request.id}" th:text="${request.personWhoShouldPayBack.getName()}"> </td>
            <td th:id="'paymentrequest_date_'+${request.id}" th:text="${request.dueDate}"> </td> <!-- Updated here -->
            <td th:id="'paymentrequest_paid_'+${request.id}" >
                <span th:if="${request.isPaid}" >Yes</span>
                <span th:if="${!request.isPaid}">No</span>
            </td>
            <td th:id="'paymentrequest_amount_'+${request.id}" th:text="${request.amountToPay}"> </td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td colspan="4">Total Amounts of Payment Requested</td>
            <td th:id="grand_total" >
                <span th:text="${totalAmount}"></span>
            </td>
        </tr>
        </tfoot>
    </table>

    <form th:action="@{/paymentrequest(expenseId=${expense.id})}" method="post" class="expense-form">
        <label for="email">The email address of the person that should pay you</label>
        <input type="text" id="email" name="email" placeholder="student2@wethinkcode.co.za" required/>

        <label for="amount">The amount they should pay (maximum <span th:text="${expense.amount}"/>!)</label>
        <input type="number" id="amount" name="amount" placeholder="300" required/>

        <label for="due_date">By when must this claim be settled (dd/mm/yy)</label>
        <input type="text" id="due_date" name="date" placeholder="05/09/2022" required/>

        <input type="submit" value="Submit" class="submit-button"/>
    </form>
</div>

</body>
</html>